<div class="row">
  <div class="col col-md-6">
<h2>Here are some links to help you start: </h2>
<table class="table bordered">
  <tr>
  <th>Name</th>
  <th>Address</th>
  <th>Salary</th>
  <th>Code</th>
  <th>Remove</th>
  <th>Edit</th>
</tr>
  <tr *ngFor="let row of tablelist; let i=index">
      <td>{{ row.name }}</td>
      <td>{{ row.address }}</td>
      <td>{{ row.salary }}</td>
      <td [style.color]=row.colorCode>{{row.name}}</td>
      <td> <button class="btn btn-danger btn-xs" (click)="deleteRow(i)">X</button></td>
      <td> <button class="btn btn-primary btn-xs" (click)="selectRow(row)">E</button></td>
  </tr>
</table>

<h4>Add new record:</h4>
<input [(ngModel)]="newRow.name" type="text">
<input [(ngModel)]="newRow.address" type="text">
<input [(ngModel)]="newRow.salary" type="text">
<input [(ngModel)]="newRow.colorCode" type="text">

<button (click)="addNewRow()" class="btn btn-sm btn-primary">Add</button>
</div>

<div class="col col-md-6">
  <app-table-data [selectedRow]=selectedRow></app-table-data>
</div>
</div>
